@media screen and (max-width :576px) {
    * {
        margin: 0;
    }

    .nav-container {
        flex-direction: column;
        margin-bottom: 50%;
    }

    .nav-items {
        flex-direction: column;

    }

    .nav-social {
        width: 230px;
        height: 60px;
        flex-shrink: 0;
        text-align: center;
        padding-left: 5%;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .nav-item {
        cursor: pointer;
        margin-top: 6px;
        margin-bottom: 12px;
    }

    .banner-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .banner-img {
        width: 80%;
        margin: 0 auto;
        padding-left: 5%;
    }

    .banner-text {
        
        margin: 0 auto;
        
        margin-bottom: 0px;
    }

    .sign-btn {
        padding: 6px 12px;
        cursor: pointer;
    }

    .banner-btn {
        margin-top: 12px;
    }

    .rogue-btn {
        padding: 6px 12px;
        cursor: pointer;
    }

    .gamer-section {
        margin-top: 35%;
    }

    .game-container {
        flex-direction: column;
    }

    .game-img img{
        width: 100%;
        margin: 0 auto;
    }

    .game-text {
        text-align: center;
        margin: 0 auto;
    }
    .game-title{
        margin-bottom: 18px;
        margin-top: 10px;
    }
    .game-text p{
        margin-bottom: 13px;
    }
    .game-text h5{
        margin-bottom: 30px;
    }

    .purpose-text{
        margin-top: 28px;
        margin-bottom: 10px;
    }

.zone-container{
    display: none;
}

.zoneContainer{
    display: none;
}
.zone-feauters{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
    margin-bottom: 10%;
}

.zoneContent{
    display: flex;
    gap: 3px;
    align-items: center;
    height: 40px; 
}

.zoneContent img{
    width: 17px;
    height: 17px;
}
.zoneContent p{
    font-size: x-small;
    font-weight:bold;
} 

.zoneContent:hover{
    height: 38px;
    border: 2px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    padding-left: 1%;
}


/* career */
.career-container{
    flex-direction: column;
}

.career-text{
    margin: 10%;
}

.career-description{
    width: 100%;
    font-size: x-small;
}

.career-title{
    font-size: 22px;
}

.careear-content{
    width: 100%;
    font-size: 11px;
}

.career-btn{
    font-size: x-small;
    padding: 8px 4px;
}

.career-container img{
   display: block;
   margin: 0 auto;
}


/* online game */
.onine-game-title{
    font-size: 25px;
}

.online-game-subtitle{
    font-size: 12px;
}

.online-game-card{
    display: block;
    /* margin: 0 auto; */
    padding-left: 20%;
}

/* .online-game-card img{
   width: 70%;
} */
.online-game-card p{
    font-size: medium;
    margin-bottom: 7%;
}

/* poster container */
/* .poster-container{
    flex-direction: column;
} */
.poster-container{
    display: block;
}



.poster-text{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 2%;
}
.poster-text p{
    font-size: x-small;
    color: rgb(197, 200, 200);
}
.poster-img{
    margin: 60px auto;
}
.poster-primary{
    padding-left: 14%;
}
.poster-content{
    text-align: center;
}

.poster-prime{
    padding-left: 14%;
}

.poster-secondary{
    height: 30%;
    top: 80%;
    left: 20%;
}

.poster-third{
    height: 27%;
    top: 20%;
    left: 50%;
}








    /* footer section start here */
      .footer-logo{
        justify-content: center;
      }
     .footer-item{
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        padding-left: 10%;
        gap: 5px;
     }
     .social-link{
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
     }

     .footer-policy{
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        padding-top: 20px;
     }
     .copyright{
        font-size: 10px;
     }

    /* footer section ends here */

}