@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}


.container {
    background: #FFF;
    box-shadow: 0px 4px 43px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon img {
    margin-right: 10px;
    width: 20%;
}

.nav-icon p {
    font-size: 30px;
    font-weight: bolder;

}

.nav-span {
    color: #FF42A5;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    list-style: none;
    font-size: 22px;
}

.nav-item {
    cursor: pointer;
    margin-right: 22px;
    font-size: 22px;
}

.nav-social {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0 6px;
    height: 40px;
    cursor: pointer;
    color: #3C354F;
    font-size: 18px;
}

.nav-social p {
    font-size: 22px;
}

.fa-youtube {
    color: #F61C0D;
    font-size: 30px;
}

/* main container start here */


.banner-container {
    max-width: 1000px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.banner-text {
    width: 60%;
}

.banner-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 70px;
}

.banner-name {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.banner-icon {
    color: #FF42A5;
}

.sign-btn {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.rogue-btn{
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.banner-img img {
    width: 90%;
    height: 100%;
}